/*
 * ADWB profile - UNC Advanced Research Computing cluster
 */

// References are bind-mounted to a fixed in-container path (see containerOptions below),
// so this overrides the params.config default (which points at the host/cloud reference_dir).
// analyses_dir / genotypes_dir don't need overriding here -- they're profile-independent
// and already computed in conf/params.config.
params.container_reference_dir = "/workspace/References"

workDir = "${params.project_dir}/work"

process {
    executor = 'slurm'
    queue = 'general'
    container = 'gwas-pipeline'
    containerOptions = "-v ${params.reference_dir}:/workspace/References"
    
    withLabel: small {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
    
    withLabel: medium {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
    
    withLabel: large_mem {
        cpus = 8
        memory = '32 GB'
        time = '8h'
    }
    
    withLabel: very_large {
        cpus = 16
        memory = '64 GB'
        time = '12h'
    }
}

docker {
    enabled = true
    temp = 'auto'
}

executor {
    queueSize = 200
    submitRateLimit = '10 sec'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/work/users/$USER/singularity_cache'
}
